$screen-xs:                  300px  !default;
$screen-sm-max:              576px  !default;
$screen-md-max:              768px  !default;
$screen-lg-max:              992px  !default;
$screen-xl-max:              1200px !default;
$screen-xxl-max:             1400px !default;